body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("cover.jfif");
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#signup, #signin a{
    background-color: skyblue;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
text-decoration: none;
font-weight: bold; 
height: 40px;
border-width: 200px;
    font-size: 16px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



